::ng-deep body {
  .p-datatable {
    font-size: 14px;
  }

  .p-paginator-bottom {
    font-size: 14px;
  }

  .p-ripple {
    font-size: 14px;
  }

  .p-dropdown-label {
    font-size: 14px;
  }
  .p-inputtext {
    font-size: 14px;
  }

  .p-sortable-column-icon {
    font-size: 12px;
  }
}
